.home-view {
  &__desktop {
    height: calc(100vh - 35px);
    background: $cyan;
    &__icons {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      user-select: none;
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        height: 60px;
        width: 80px;
        img {
          width: 35px;
          margin-bottom: 8px;
        }
        span {
          font-size: 12px;
          color: $text;
        }
        &--active {
          outline: 1px dashed $grey;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  &__taskbar {
    position: relative;
    display: flex;
    height: 35px;
    background: $grey;
    user-select: none;
    &__menu-icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      font-weight: bold;
      font-size: 12px;
      border-width: 3px;
      border-style: solid;
      border-color: #FFFFFF #808080 #808080 #FFFFFF;
      margin: 3px 17px 3px 5px;
      img {
        margin-right: 4px;
        width: 28px;
        height: 28px;
      }
      &--open {
        border-color: #808080 #FFFFFF #FFFFFF #808080 !important;
      }
      &:after {
        content: "";
        position: absolute;
        height: 100%;
        bottom: 50%;
        transform: translateY(50%);
        border-width: 2px;
        border-style: solid;
        border-color: #808080 #FFFFFF #FFFFFF #808080;
        right: -12px;
      }
    }
    &__current-programs {
      display: flex;
      &__item {
        position: relative;
        width: 150px;
        display: flex;
        align-items: center;
        font-size: 12px;
        border-width: 3px;
        border-style: solid;
        border-color: #FFFFFF #808080 #808080 #FFFFFF;
        margin: 3px 1px 3px 5px;
        padding: 0 8px;
        &:hover {
          cursor: pointer;
        }
        span {
          font-size: 12px;
        }
        img {
          width: 18px;
          margin-right: 4px;
        }
        &--active {
          font-weight: bold;
          border-width: 2px;
          border-style: solid;
          border-color: #808080 #FFFFFF #FFFFFF #808080;
        }
        &--click-boundary {
          position: absolute;
          z-index: 5;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    &__time {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 120px;
      right: 0;
      font-size: 12px;
      padding: 2px;
      margin: 3px;
      border-width: 2px;
      border-style: solid;
      border-color: #808080 #FFFFFF #FFFFFF #808080;
      span {
        margin-right: 20px;
      }
      img {
        width: 21px;
        margin-left: 4px;
      }
    }
  }
}